Version: 19.1.0
BasedOnStyle: LLVM
UseTab: Never
TabWidth: 4
ColumnLimit: 85
PointerAlignment: Left
RefferenceAlignment: Left
QualifierAlignment: Left
NamespaceIndentation: All
IndentWidth: 4
IndentWrappedFunctionNames: true
IndentCaseLabels: true
IndentCaseBlocks: true
IncludeBlocks: Regroup
EmptyLineBeforeAccessModifier: Always

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  
AlignConsecutiveTableGenDefinitionColons: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignArrayOfStructures: Left
AccessModifierOffset: -4
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: Never